@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #C3E0E5;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}


header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.content{
    position: absolute;
    top: 35%;
    left: 9%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns, equal width */
    gap: 20px; /* Gap between columns */
}
.content .title{
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 15px;
    background: linear-gradient(150deg, #1c99fe 20.69%, #bc4623 50.19%,#ed1212 79.69%);
    -webkit-background-cli: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #371ed3;
}
.content p{
    width: 55%;
    color: #757575;
    margin-top: 25px;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
}

.btn{
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #29335c;
    border: 2px solid #e7e5e5;
}
.btn:hover{
    background: transparent;
    border-color: #0d19c0;
    color: #3f3fca;
}


@media only screen and (max-width: 1024px) {

	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}
	img{
		width: 70%;
  		height: auto;

	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
        z-index: 1000;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}
	.content {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }

	nav a {
		font-size: 1.5rem;
	}
}


.left-column {
    /* Styles for the left column */
}

.right-column {
    /* Styles for the right column */
    display: block;
}